
 @charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; 
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none; }

  header li {
    display: inline-block;
  }

header {
  background-color: #eeeeee;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  padding-top: 80px;
}

footer {
  background-color: #ffffff;
  padding-bottom: 85px;
}
.first-blocks {
  width: 33%;
}
.container {
 width: 100%;
 max-width: 900px;
 margin:0 auto;
}
ul .header-photo {
  width: 25%;
  
}
.dis h2 {
  width: 52%;
  font-weight: 500;
  margin-top: 85px;
  margin-bottom: 25px;
}

.menu {
  width: 75%;
  float: right;
  padding-top: 60px;
}
.menu li {
        margin: 0 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
.services-block {
      width: 33%;
      display: inline-block;
}
.services-block h2 {
  margin: 0;
  padding: 0;
}

article .top-bt {
  text-align: center;
      font-size: 12px;
}
.world {
        width: 90%;
    
}
.top-10 {
  width: 78%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.photo-block {
  opacity: 0.4;
  transition: 0.5s;
  cursor: pointer;
}
.photo-block:hover {
  opacity: 1;
}
.frend {
    width: 65%;
    float: right;
    margin-top: 80px;
}

.f-bl {
  float: left;
  width: 25%;
  margin-top: 95px;
}
.button {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-weight: 400;
}
p {

  font-weight: 300;
  color: #686d6f;
  font-size: 16px;

}
.red {
  background-color: #fb565a;
}

.green {
  background-color: #00ca74;
}

.yellow {
  background-color: #efc84a;
}
 .t-bl {
  float: left;
  padding-bottom: 80px;
 }

 .bl-one {
  width: 70%;
 }

 .bl-two {

  width: 30%;
 }
 .button {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
 }
 .bt-bl {
  
  margin-left: 160px;
  


 }
 .adress {
  padding: 25px 20px;
  max-width: 240px;
  
 }
 .bt-bl1 {
  position: relative;

 }

 .bt-bl1:after {
  position: absolute;

 }
 .dis h2, .t-bl h1, .frend h2 {
   font-size: 36px;
  
 } 
 .frend h2 {
  font-weight: 400;
      margin-top: 10px;
 }
 article .dis {
 padding-top: 80px;
 }
 .services-block img, .services-block p, .ser-bl p, .ser-bl img{
  padding-bottom: 30px;
 }
 .services-block h2, .ser-bl h2 {

  font-size: 18px;
  padding-bottom: 25px;

 }
 .services-block h2, .ser-bl h2 {
  text-transform: uppercase;
  font-weight: 500;

 }
 .amazin {
   width: 74%;
 }
 .line1 {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
 }
 
 a {
  text-decoration: none;
      color: black;
 }
 .t-bl {
   padding-top: 80px;
   color: #686d6f;
 }
 .photos {
    padding: 50px 0 50px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
 }
 .header-photo {
  padding-top: 25px;
 }
 .slide {
    width: 100%;
    display: inline-block;
 }
 .dis {
  padding-bottom: 80px;
 }

 .left {
    width: 30%;
    float: left;
 }

 .right {
   width: 70%;
   float: right;
 }

 .right p, .left h3 {
   font-size: 18px;
 }

 .welcome h1 {
  font-size: 40px;
    padding-left: 280px;
    padding-bottom: 90px;
    padding-top: 70px;
    font-weight: 100;
    color: #9e9e9e;
 }

 .block-sites {
   display: inline-block;
   width: 47%;
   margin-bottom: 80px;
 }


 .centr-bt {
   padding-top: 80px;
   text-align: center;

 }

 .bt-bt {
  padding: 10px 15px;
   background-color: #f2f2f2;
 }
 .sort {
   padding-bottom: 22px;
 }
 .rang {
  padding-top: 50px;
 }

 .rang li {
  color: #9e9e9e;
  font-weight: 100;
 }

 .adress h4, .adress p {
   color: #686d6f;
 }

 .nerds-ph {
    margin-left: 0 auto;
 }

 .block-photo-bt {
    display: block;
    float: left;
    text-align: center;
    width: 33.3%;
}
.line:before {
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.ser-bl p {
  color: #686d6f;
}

.line {
  position: relative;
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.services-block p, .t-bl p, .line, bt-bl p {
  font-weight: 300;
  color: #686d6f;
}

.t-bl h6, .bt-bl h4 {
  font-size: 16px;
  text-transform: uppercase;
   font-weight: 500;
}

.bt-bl span {
  font-weight: bold;

}

.t-bl h1 {
  width: 85%;
  color: #000000;
  font-weight: 500;
  padding-bottom: 25px;

}

.t-bl p {
      width: 90%;
}

.adress p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.bl-one p {
  padding-bottom: 55px;
}

.bl-two p {
  padding-bottom: 65px;
  font-weight: 500;
   text-transform: uppercase;
   padding-left: 35px;
   padding-top: 25px;
}

.top-cn {
  width: 33%;
  padding-bottom: 30px;
  color: #62676a;
}
.ph1 {
      padding-top: 30px;
}

.ph2 {
  padding-top: 25px;
}

.ph3 {
  padding-top: 5px;
}
.adress a {
   display: block;
}

.icon {
 background-color: #686d6f:;
}

.icon:hover {
 background-color: #fb565a;
}

.menu a:hover {
 color: #f8888b;
}

.red:hover {
  background-color: #d6494d;
}

.red:activ {
  background-color: #b63538;
}

.icon {
  background-color: #e1e1e1;
  border-radius: 50%;
  padding: 15px;
  display: inline-block;
}

.green:hover {
  background-color: #01a25e;
}

.yellow:hover {
  background-color: #d6ae2c;
}

.front-fr {
  font-size: 12px;
  font-weight: 300;
  margin-top: 15px;
}
.gray {
  background-color: #f1f1f1;
  color: black;
}
.gray:hover {
  background-color: #e5e5e5;
}
.hidden {
 width: 620px;
 height: 430px
 box-sizing: border-box;
  border-color: #ffffff;
  border: 2px solid red;
}
.bl-two span:before{
    width: 70px;
    height: 2px;
    background-color: #eeeeee;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 105px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.bl-two span {
  position: relative;
}

.bl-two p{
 padding-left: 85px;
}

.bl-two span:after{
    width: 70px;
    height: 2px;
    background-color: #eeeeee;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 105px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }

  .nerds-ph {
        margin-left: 35px;
  }     

  textarea {
    width: 459px;
    height: 108px;
    border-radius: 5px;
    padding: 13px;
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 14px;
  }

  input [type="e-mail"] {
    width: 215px;
    height: 35px;
  }

  .window {
    padding-left: 85px;
    padding-top: 60px;
  }

  .bt-bottom {
    margin-left: 85px;
  }

  .send-messige {
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 55px;
    margin-bottom: 55px; 
  }
  .cancel {
    margin-left: 20px;
  }

  .basket:before {
     background-image: url(../img/bascket.png);
     content: "";
     background-size: 100%;
     background-position: 50%;
     width: 15px;
     height: 15px;
     display: block;
    position: absolute;
    left: 0px;
    top: -2px;
  }
  
.fb {
    padding-left: 22px;
    padding-right: 22px;
    margin-right: 20px;
  }
  
.vk {
    padding-top: 20px;
    margin-right: 20px;
}
.inst {
    padding-right: 16px;
    padding-left: 18px
}

.hidden-form {
  display: inline-block;
  width: 44%;
}
.menu .basket {
  padding-left: 20px;
  margin-right: 0;
  margin-left: 60px;
}
* {
  box-sizing: border-box;
}

 .makets {
  margin-top: 85px;
 }
  .activ-bt {
  border: 3px solid #f2f2f2;
  padding: 8px 13px;
 }



}
.centr-bt .bt-bt {

  background-color: #f1f1f1;
  padding: 15px 16px;
}

.bt-bt:hover {
  background-color: #e5e5e5;
}

.markets a {
  display: inline-block;
  width: 14%;

}

.markets .rang {
  width: 30%;
}
.dotted {
  border-bottom: 1px dotted #00ca74;
  color: #e4e4e4;
}

.dotted:hover {
  border-bottom: 1px solid #00ca74;
  color: black;
}
.name input, .email input {
  padding: 13px;
  font-size: 14px;
  font-weight: 400;
  width: 220px;
   text-transform: uppercase;
   margin-bottom: 30px;
   color: #a9a9a9;
       border-radius: 5px;
       border-color: #d7dcde;
}

.name input:hover, .email input:hover, textarea:hover {
 border-color: #a2a9ac;
}

.your-name, .your-email, .text-letter {
  margin-bottom: 13px;
}
.slider {
  white-space: nowrap;
}

.left input {
  display: none;
}

.network:before {
  content: "";
  background-size: 100%;
  background-image: url(../img/radio.png);
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  left: 0px;
  color: #c1c1c1;
}

 .peculiarity:before {
  background-image: url(../img/checkbox.png);
  content: "";
  background-size: 100%;
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  left: 0px;
  color: #c1c1c1;
}
 

.network,  .peculiarity {
  padding-bottom: 20px;
  position: relative;
  padding-left: 35px;
  font-weight: 100;
  color: #b1b3b4;

 }

 h3.sorting {
    margin-top: 55px;
    margin-bottom: 20px;
  }

  h3.features {
    margin-top: 50px;
    margin-bottom: 20px
  }
  .slider {
    display: inline-block;
    width: 100%;
  }

 #slide1:checked ~ .slade1 {
     margin-left: 0;
}
#slide2:checked ~ .slade2 {

  margin-left: 900px;
}

#slide3:checked ~ .slade3 {

  margin-left: 1800px;
}
