
 @charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; 
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none; }

  header li {
    display: inline-block;
  }

header {
  background-color: #eeeeee;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  padding-top: 80px;
  
}

footer {
  background-color: #ffffff;
  padding-bottom: 85px;
}
.first-blocks {
  width: 33%;
}
.container {
 width: 100%;
 max-width: 900px;
 margin:0 auto;
}
ul .header-photo {
  width: 25%;
  
}
.dis h2 {
  width: 52%;
  font-weight: 500;
  margin-top: 85px;
  margin-bottom: 25px;
}

.menu {
  width: 75%;
  float: right;
  padding-top: 60px;
  padding-bottom: 80px;
}
.menu li {
        margin: 0 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
        padding-bottom: 7px;
}
.services-block {
      width: 33%;
      display: inline-block;
}
.services-block h2 {
  margin: 0;
  padding: 0;
}

article .top-bt {
  text-align: center;
      font-size: 12px;
}
.world {
        width: 90%;
    
}
.top-10 {
  width: 78%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.photo-block {
  opacity: 0.4;
  transition: 0.5s;
  cursor: pointer;
}
.photo-block:hover {
  opacity: 1;
}
.frend {
    width: 66%;
    float: right;
    margin-top: 80px;
}

.f-bl {
  float: left;
  width: 25%;
  margin-top: 95px;
}
.button {
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  font-weight: 400;
}
p {

  font-weight: 300;
  color: #686d6f;
  font-size: 16px;

}
.red {
  background-color: #fb565a;
}

.green {
  background-color: #00ca74;
}

.yellow {
  background-color: #efc84a;
}
 .t-bl {
  float: left;
  padding-bottom: 80px;
 }

 .bl-one {
  width: 70%;
 }

 .bl-two {

  width: 30%;
 }
 .button {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
 }
 .bt-bl {
  
  margin-left: 160px;

 }

 .order {
  padding: 15px 40px;
 }

 .top-bt {
  padding: 15px 75px;
 }
 .adress {
  padding: 25px 20px;
  max-width: 240px;
  background-color: #ffffff;
  position: absolute;
  top: 90px;
  left: -85px;
  
 }
 .bt-bl1 {
  position: relative;

 }

 .bt-bl1:after {
  position: absolute;

 }
 .dis h2, .t-bl h1, .frend h2 {
   font-size: 36px;
  
 } 
 .frend h2 {
  font-weight: 400;
      margin-top: 10px;
      font-size: 40px;
 }
 article .dis {
 padding-top: 80px;
 }
 .services-block img, .services-block p, .ser-bl p, .ser-bl img{
  padding-bottom: 30px;
 }
 .services-block h2, .ser-bl h2 {

  font-size: 18px;
  padding-bottom: 25px;

 }
 .services-block h2, .ser-bl h2 {
  text-transform: uppercase;
  font-weight: 500;

 }
 .amazin {
   width: 74%;
 }
 .line1 {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
 }
 
 a {
  text-decoration: none;
      color: black;
 }
 .t-bl {
   padding-top: 80px;
   color: #686d6f;
 }
 .photos {
    padding: 50px 0 50px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
 }
 .header-photo {
  padding-top: 25px;
 }
 .slide {
    width: 100%;
    display: inline-block;
 }
 .dis {
  padding-bottom: 80px;
 }

 .left {
    width: 30%;
    float: left;
    font-size: 0;
    display: block;
 }

 .right {
   max-width: 580px;
   float: right;
   font-size: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
 }

 .right p, .left h3 {
   font-size: 18px;
 }

 .welcome h1 {
 
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 70px;
    font-weight: 200;
    color: #9e9e9e;
        max-width: 76%;
    text-align: center;
        font-size: 40px;
    color: #000000
 }

  .block-sites {
   display: inline-block;
       width: 240px;
       text-align: center;
       margin-bottom: 80px;
       font-size: 0;
 }


 .centr-bt {
   padding-top: 80px;
   text-align: center;

 }

 .centr-bt li  {
  display: inline-block;
 }

 .bt-bt {
  padding: 10px 15px;
   background-color: #f2f2f2;
       font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
 }
 .sort {
   padding-bottom: 40px;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
 }


 .rang li {
  color: #9e9e9e;
  font-weight: 100;
 }

 .adress h4, .adress p {
   color: #686d6f;
 }
 .adress p {
  line-height: 1.4em;
 }

 .nerds-ph {
    margin-left: 0 auto;
 }

 .block-photo-bt {
    display: block;
    float: left;
    text-align: center;
    width: 33.3%;
}
.line:before {
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.ser-bl p {
  color: #686d6f;
}

.line {
  position: relative;
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.services-block p, .t-bl p, .line {
  font-weight: 300;
  color: #686d6f;
  line-height: 1.4em;
}

.t-bl h6, .bt-bl h4 {
  font-size: 16px;
  text-transform: uppercase;
   font-weight: 500;
}

.bt-bl span {
  font-weight: 600;

}

.t-bl h1 {
  width: 85%;
  color: #000000;
  font-weight: 500;
  padding-bottom: 25px;

}

.t-bl p {
      width: 90%;
}

.adress p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.bl-one p {
  padding-bottom: 55px;
}

.bl-two p {
  padding-bottom: 65px;
  font-weight: 500;
   text-transform: uppercase;
   padding-left: 35px;
   padding-top: 25px;
}

.top-cn {
  width: 33%;
  padding-bottom: 30px;
  color: #62676a;
}
.ph1 {
      padding-top: 30px;
}

.ph2 {
  padding-top: 25px;
}

.ph3 {
  padding-top: 5px;
}
.adress a {
   display: block;
}


.icon:hover {
 background-color: #fb565a;
}

.menu li:hover {
 color: #f8888b;
}

.red:hover {
  background-color: #d6494d;
}

a {
    color: inherit;
}

.red:activ {
  background-color: #b63538;
}

.icon {
  background-color: #e1e1e1;
  border-radius: 50%;
  padding: 15px;
  display: inline-block;
}

.green:hover {
  background-color: #01a25e;
}

.yellow:hover {
  background-color: #d6ae2c;
}

.front-fr {
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
}
.gray {
  background-color: #f1f1f1;
  color: black;
}
.gray:hover {
  background-color: #e5e5e5;
}

.bl-two span:before{
    width: 70px;
    height: 2px;
    background-color: #eeeeee;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 105px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.bl-two span {
  position: relative;
}

.bl-two p{
 padding-left: 85px;
}

.bl-two span:after{
    width: 70px;
    height: 2px;
    background-color: #eeeeee;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 105px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }

  .nerds-ph {
        margin-left: 35px;
  }     

  textarea {
    width: 459px;
    height: 108px;
    border-radius: 5px;
    padding: 13px;
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 14px;
    resize: none;
  }

  input [type="e-mail"] {
    width: 215px;
    height: 35px;
  }

  .window {
    padding-left: 85px;
    padding-top: 60px;
  }

  .bt-bottom {
    margin-left: 85px;
  }

  .send-messige {
    padding: 15px 75px;
    margin-top: 55px;
    margin-bottom: 55px; 
  }
  .cancel {
    margin-left: 20px;
  }

  .basket:before {
     background-image: url(../img/cart-sprite.png);
     width: 17px;
    background-repeat: no-repeat;
    height: 32px;
    display: block;
    top: -17px;
    left: -5px;
    position: absolute;
    background-position: 0 16px;
    content: "";
  }
  
.fb {
    padding-left: 22px;
    padding-right: 22px;
    margin-right: 20px;
  }
  
.vk {
    padding-top: 20px;
    margin-right: 20px;
}
.inst {
    padding-right: 16px;
    padding-left: 18px
}

.hidden-form {
  display: inline-block;
  width: 44%;
}
.menu .basket {
  padding-left: 20px;
  margin-right: 0;
  margin-left: 60px;
}
* {
  box-sizing: border-box;
}
.icon:active {
  padding-top: 12px;
background-color: #d6494d;
border-top: 3px solid #b63e42;

}

 .centr-bt.activ-bt {
  border: 3px solid #f2f2f2;
  padding: 8px 13px;
      font-size: 12px;
    font-weight: 300;
 }
.basket:hover:before {
    
    background-position: 0 -46px;
  

}
.centr-bt .bt-bt {

  background-color: #f1f1f1;
  padding: 15px 16px;
}

.bt-bt:hover {
  background-color: #e5e5e5;
}

.bt-bt:activ {
   padding: 7px 15px;
  background-color: #d5d5d5;
  border-top: 3px solid #b5b5b5;
}

.markets a {
  display: inline-block;
 
}

.markets .rang {
  width: 30%;
}

.markets {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.triangle-block {
  float: left;
   width: 15%;
   text-align: right;
}
.dotted {
  border-bottom: 1px dotted #00ca74;
  color: #e4e4e4;
  font-size: 12px;
    font-weight: 300;
    margin-right: 40px;
  
}

.dotted:hover {
  border-bottom: 1px solid #00ca74;
  color: black;
}

.dotted-activ a:active {
  color: black;
  border-bottom: none;
}

.name input, .email input {
  padding: 13px;
  font-size: 14px;
  font-weight: 400;
  width: 220px;
   text-transform: uppercase;
   margin-bottom: 30px;
   color: #a9a9a9;
       border-radius: 5px;
       border-color: #d7dcde;
}

.name input:hover, .email input:hover, textarea:hover {
 border-color: #a2a9ac;
}

.your-name, .your-email, .text-letter {
  margin-bottom: 13px;
}
.slider {
  white-space: nowrap;
}

.left input {
  display: none;
}

.network label:before {
  content: "";
  background-size: 100%;
  background-image: url(../img/radio.png);
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  left: 0px;
  top: -5px;
  color: #c1c1c1;
}

 .peculiarity label:before {
  background-image: url(../img/checkbox.png);
  content: "";
  background-size: 100%;
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  left: 0px;
  color: #c1c1c1;
   top: -5px;
}
 

.network,  .peculiarity {
  padding-bottom: 20px;
  position: relative;
  padding-left: 35px;
  font-weight: 100;
  color: #b1b3b4;
  font-size: 16px;
    font-weight: 400;

 }

 h3.sorting {
    margin-top: 55px;
    margin-bottom: 20px;
    font-size:18px;
    font-weight: 500;
  }

  h3.features {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size:18px;
    font-weight: 500;
  }
  .slider {
    width: 100%;
    font-size: 0;
  }

 #slide1:checked ~ .slide-wrapper {
     left: 0;
     position: relative;
     

}
#slide2:checked ~ .slide-wrapper {

   left: -900px;
   position: relative;
    
   
}

#slide3:checked ~ .slide-wrapper {
    left: -1800px;
    position: relative;
     
   
}

.slide1, .slide2, .slide3 {
  position: relative;
}

.slide {
  background-repeat: no-repeat;
   min-height: 350px;
    background-position: 100% 18%;
    padding-top: 55px;
    
}


.slide1 {
  background-image: url(../img/slider1.png);
  
}
.slide2 {
background-image: url(../img/slider2.png);

}

.slide3 {
  background-image: url(../img/slider3.png);
  background-position: 100% 100%;

}
.slide .top-title {
 padding-top: 25px;
 padding-bottom: 25px;
 line-height: 1.4em;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide h2 {
  font-size: 36px;
  font-weight: 500;
}
.slider {
 overflow: hidden;

}

.block-text {
  width: 52%;
  white-space: normal;
}

.slider input {
  display: none;
}

.slider-controls label:before {
   content: "";
   display: inline-block;
    width: 100%;
    height: 100%;
   border-radius: 50%;
   background-color: #ffffff;
   cursor: pointer;
   
}
.slider-controls label {
  margin: 0 5px;
  position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 5px;
}

#slide1:checked ~ .slider-controls label[for="slide1"]:after,
#slide2:checked ~ .slider-controls label[for="slide2"]:after,
#slide3:checked ~ .slider-controls label[for="slide3"]:after {
  content: "";
   display: inline-block;
   width: 1.1em;
   height: 1.1em;
   border-radius: 50%;
   background-color: #c1c1c1;
   cursor: pointer;
   position: absolute;
    top: 0.4em;
    left: 0.4em;
}

 


.bt-bl1 {
  background-image: url(../img/map.png);
  height: 415px;
  margin-top: 85px;
  position: relative;
}

.bascket:hover {
  background-color: #fb565a;
}

.hidden {
  position: fixed;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
  background: #ffffff;
  width: 630px;
 height: 430px;
 box-sizing: border-box;
  border-color: #ffffff;
  border: 2px solid red;
 box-shadow: -1px -4px 10px 7px #c8c8c8;
 margin-bottom: 100px;
 display: none;
}

.pop-up-window {
  width: 210px;
  height: 200px;
  background-color: #ffffff;
  padding: 35px 35px 30px;
  box-sizing: border-box;
  position: absolute;
   left: 15px;
    top: 50px;
}

.sun {
  text-align: center;
  font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.buy {
  display: block;
      text-transform: uppercase;
}

 .internet-shop {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 100;
}
 p.internet-shop {
  font-size: 16px;
}
.slider-controls {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slider {
  position: relative;
}

.network input[type="radio"]:checked + label:before {
 content: "";
 display: block;
 background-image: url(../img/radio-checked.png);
 width: 25px;
 height: 25px;
}

.peculiarity input[type="checkbox"]:checked + label:before {
  width: 30px;
  height: 25px;
  content: "";
  display: block;
  background-image: url(../img/checkbox-checked.png);

}
.block-sites {
  position: relative;
}
.cap-grey {
  width: 240px;
  height:30px;
  background-color: #f1f1f1;
  text-align: left;
  padding-left: 10px;
  padding-top: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.block-sites:hover .pop-up-window {
  display: block;
  
  position: absolute;
}

.white-dots {
 display: inline-block;
width: 10px;
  height: 10px;
   border-radius: 50%;
  background-color: white;
  margin-right: 6px;
   
}

.pop-up-window {

  display: none;
}

.block-sites:hover > .cap-grey {

  background-color: #797979

}
.block-sites:nth-child(2n) {
     margin-left: 80px;

}

.separate {
      font-size: 12px;
    font-weight: 500;
  width: 30%;
}

 .email input:focus, .name input:focus {
    border-color: #56bffb;
}

.triangle {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  display: inline-block;

}
.triangle-top {
      border-bottom-width: 10px;
  border-top: none;
  border-bottom-color: #cccccc;
}

.triangle-bottom {
  border-top-width: 10px;
  border-bottom: none;
  border-top-color: #00ca74; 
     margin-right: 5px;
}

.menu li:active {
  color: #bdbdbd;
}


.activ-red a:active, .slide a:active, .adress a:active, .pop-up-window a:active {
  background-color: #b63538;
  border-top: 3px solid #9b2d30;
  padding-top: 12px;
 }

 .activ-green a:active {

  background-color: #009053;
  border-top: 3px solid #007b47;
  padding-top: 12px;
 }

 .activ-yellow a:activ {

  background-color: #c09b24;
  border-top: 3px solid #a3841f;
  padding-top: 12px
 }

 .active-shop {
 border-bottom: 2px solid #fb565a;
 color: #636363;
 }

 li.active-shop:hover {
  color: #636363;
 }
.runner {
  padding: 40px 20px;
  background-color: #f1f1f1;
  position: relative;
      border-radius: 5px;
            width: 240px;
  
 }

 .roller-line {
    width: 200px;
     border: 2px solid #00ca74;
 }

 .roller {
  
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 32px;
  left: 20px;
  box-shadow: 0px 4px 1px #cfcfcf;
 }

.roller2 {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 32px;
  right: 50px;
}


.roller:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ababab;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 7px;
}

input {
  display: none;
}

.input-block input {
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
  color: #283136;
  max-width: 80px;
  height: 40px;
  text-align: center;
      border-radius: 5px;
}

.input-block {
  text-align: center;

}

.input-block {
  font-size: 16px;
  font-weight: 300;
  color: #283136;
  margin-top: 15px;
  text-transform: uppercase;
}

.block-cost {
  font-size: 0;
  width: 100%;
}
