
 @charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

  header li {
    display: inline-block;
  }

header {
  background-color: #eeeeee;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  padding-top: 80px;
}

footer {
  background-color: #ffffff;
}
.first-blocks {
  width: 33%;
}
.container {
 width: 100%;
 max-width: 900px;
 margin:0 auto;
}
ul .header-photo {
  width: 25%;
  
}
.dis h2 {
  width: 270px;
}

.menu {
  width: 75%;
  float: right;
  padding-top: 60px;
}
.menu li {
  margin: 0 20px;
  padding-left: 20px;
}
.services-block {
  
  float: left;
  padding-right: 80px;
 
}
.top-bt {
  text-align: center;
}
.top-bt, .services-block p {
  width: 240px;
}

.clearfix:before {
  content: "";
  clear: both;
  display: table;
}

.photo-block {
  width: 33%;
}
.frend {
  width: 70%;
 
}
.icon {
  width: 30%;

}
.f-bl {
  float: left;
}
.button {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  
}
p {
  padding-top: 10px;
  padding-bottom: 10px;

}
.red {
  background-color: #fb565a;
}

.green {
  background-color: #00ca74;
}

.yellow {
  background-color: #efc84a;
}
 .t-bl {
  float: left;
  padding-bottom: 80px;
 }

 .bl-one {
  width: 70%;
 }

 .bl-two {

  width: 30%;
 }
 .button {
  display: inline-block;
 }
 .bt-bl {
  
  float: left; 
  margin-left: 160px;
  border: 1px solid blue;


 }
 .adress {
  
  width: 240px;


 }
 .bt-bl1 {
  width: 900px;
 }
 .dis h2, .t-bl h1, .frend h2 {
   font-size: 30px;
  padding-bottom: 20px;
  padding-top: 15px;
 }
 article .dis, .f-bl {
 padding-top: 80px;
 }
 .services-block img, .services-block p, .ser-bl p, .ser-bl img{
  padding-bottom: 30px;
 }
 .services-block h2, .ser-bl h2 {

  font-size: 30px;
  padding-bottom: 30px;

 }
 a {
  text-decoration: none;
 }
 .t-bl {
   padding-top: 160px;
 }
 .photos {
  padding-bottom: 50px;
 }
 .header-photo {
  padding-top: 30px;
 }
 .slide {
  position: absolute;
  top: 115px;
  right: 70px;
 }
 .dis {
  padding-bottom: 80px;
 }

 .left {
    width: 30%;
    float: left;
 }

 .right {
   width: 70%;
   float: right;
 }

 .right p, .left h3 {
   font-size: 18px;
 }

 .welcome h1 {
  font-size: 40px;
    padding-left: 280px;
    padding-bottom: 90px;
    padding-top: 70px;
 }

 .bl-photo {
   width: 100%;
 }

 .parts {
 float: left;
 margin-right: 80px;
 margin-bottom: 80px;
 }

 .empty {
  margin-bottom: 80px;
 }

 .centr-bt {
   padding-top: 80px;
   text-align: center;

 }

 .bt-bt {
  border: 1px solid red;
  padding: 10px 15px;
 }
 .sort {
   padding-bottom: 22px;
 }
 .rang {
  padding-top: 50px;
 }

 .adress h4, .adress p, .adress a{
   margin: 30px 20px;
 }